.bar {
    background: linear-gradient(60deg, rgb(23, 107, 23), rgb(123, 155, 65));
}

.research {
    margin-top: 4%;
    margin-bottom: 4%;
    font-family: "Open Sans";
    font-weight: lighter;
    color: white;
}

#searchbar {
    width: 70%;
    border-radius: 10px;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: 5%;
}

input[type=text] {
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 /* When the input field gets focus,
      change its width to 100%
 input[type=text]:focus {
   width: 70%;
 }*/

.connexion {
    border-left: 2px solid;
    border-color: white;
    
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left:5%;

}

.plantInfo {
    padding:2%;
}

.marge_left {
    padding-left:10%;
}

.marge_left2 {
    padding-left:11%;
}

.marge_right {
    padding-right:10%;
}

#resizeImg {
    height: 50vh;
}

.structInfo {
    font-weight:bold;
}

.like_and_love {
    background-color: white;
    text-align: center;
    border: none; 
    cursor: pointer;
    background: none;
}

.like_and_love:focus {
    border: none;
    outline: none;
    background: none;
}

.marker {
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid red;
}

.noImage {
    width: 30vw;
    height: 50vh;
    border-radius: 5px;
    border: 3px solid red;
    display: grid;
}

.noImage span {
    font-weight: bold;
    margin-top: 25vh;
    text-align: center;
}
.formulaire {
    margin-top: 100px;
}

.btnclick {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

body {
    background-image: url("./img/fond11.jpg");
}

.textColor, .textColorLink {
    color:green;
}

.textColorLink:link, .textColor:link {
    color:green;
    text-decoration: underline green;
}

.textColorLink:hover {
    color:green;
    text-decoration: underline green;
}

.resizeTextLogo {
    padding-top:1%;
    padding-left: 1%;
}

.replaceUserName {
    text-align: center;
    color:white;
    padding: 1%;
    border-top: 2px solid white;
}