.bar {
    display: inline-flex;
    /*background: linear-gradient(to right, rgb(23, 107, 23), rgb(123, 155, 65));*/
    /*background: linear-gradient(blue, 10%, pink);*/
    background: linear-gradient(60deg, rgb(23, 107, 23), rgb(123, 155, 65));
    width: 100%;

    /*padding-top: 15px;
    padding-bottom: 15px;*/
}

.research {
    /*margin-top: 4%;*/
    margin-bottom: 4%;
    font-family: "Open Sans";
    font-weight: lighter;
    color: white;
}

#searchbar {
    width: 70%;
    border-radius: 10px;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: 5%;
}

input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
 }

 /* When the input field gets focus,
      change its width to 100% */
 input[type=text]:focus {
   width: 70%;
 }

.connexion {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left:5%;

    position: absolute;
    left: 90%;

}
